#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    float: left;
    padding-left: 20;
    padding-right: 20;
    border-style: ridge;
    background-color: bisque;
}

#logo img {
    width: 255px;
    height: 104.8px;
}

#primaryLinks {
    float: left;
    text-align: right;
    height: 108px;
    width: 610px;
    line-height: 100px;
    padding-right: 40px;
    margin: 0px;
}

#primaryLinks ul {
    padding-left: 200px;
}

#primaryLinks li {
    padding-left: 0px;
    display: inline;
    font-family: sans-serif;
}


#intro {
    clear: both;
    border-top-style: double;
    border-bottom-style: double;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#intro h1 {
    clear: both;
    font-size: xxx-large;
    font: bold;
    font: underline;
    color: darkblue;
    align-content: center;
}

article h3 {
    margin-top: 40px;
    font-size: x-large;
    clear: both;
    color: darkblue;
}

article img {
    width: 300px;
    float: right;
    margin-left: 40px;
}

article p {
    font-size: large;
    width: 600px;
}

footer {
    clear: both;
    border-top-style: ridge;
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
}
