.headerContainer .primarylinks{
    font-size: 1rem;
    font-weight: bolder;
    align-items: center;
    justify-content: space-around;
}

.headerContainer .pagetitle {
    font-weight: bolder;
    font-size: 2rem;
    align-items: center;
}

.headerContainer{
    width: 100%;
    min-height: 100%;
    display: inline-flex;
    background: rgba(255,255,255,.4)
}

.backgroundImage{
    background-image: url('../images/frontpage_pioneering.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image {
    background-image: url('../images/banner_image.jpg');
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-flex;
    padding-left: 25px;
}

.bannerText{
    font-weight: bolder;
    color: whitesmoke;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: grid;
    margin: .5rem 1.5rem 1rem 1rem;
    grid-row-gap: 2rem;
    grid-template-columns: auto auto auto;
    backdrop-filter: blur(.125rem);
}

.box {
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, .5);
    place-self: center;
    text-align: center;
}

.box > .boxImage{
    display: block;
    width: 15rem;
    height: 10rem;
}


.wrapper > .box > .leftImageBox {
    grid-column: 1;
    width: 20%;
}
.wrapper > .box > .rightContentPane {
    grid-column: 2;
    width: 80%;
}

.wrapper > .box > .centerContentPane {
    grid-column: 2;
    width: 80%;
}

.wrapper .box .leftContentPane {
    grid-column: 1 ;
    width: 80%;
}
.wrapper .box .rightImageBox {
    grid-column: 2;
    width: 20%;
}

.wrapper .box .rightSideContentbar{
    grid-column: 3;
    border-left: 5px double black;
}

.wrapper .box .leftSideContentbar{
    grid-column: 1;
    border-right: 5px double black;
}

.footer{
    position: relative;
    bottom: -50vh;
    width: 100vw;
    align-content: end;
    justify-content: space-around;
    background: rgba(255,255,255,.4)
}