.headerContainer .primarylinks{
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border: solid rgba(0,0,0,.4);
    background-color: rgba(255,255,255,.2);
    padding: 0 1rem 0 1rem;
    width: 20%;
}

.headerContainer .primarylinks a:link {
    color: rgba(220,220,220,1);
}

.headerContainer .primarylinks a:visited {
    color: white;
}

.headerContainer .primarylinks a:hover {
    color: red;
}

.headerContainer .pagetitle {
    font-weight: bolder;
    font-size: 2rem;
    align-items: center;
    min-width: 80%;
    padding-left: 1rem;
}

.headerContainer{
    width: 100%;
    min-height: 100%;
    display: inline-flex;
    background: rgba(255,255,255,.4);

}

.banner{
    background-image: url('../images/banner_image.jpg');
    width: 100%;
    height: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-flex;
    padding-left: 25px;
}

/* HYPERLINK STYLES: unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: black;
}

.navigationBar {
    overflow: hidden;
    background-color: rgba(0,0,0,.1);
    border: solid rgba(0,0,0,.2)
}

.navigationBar a {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 1rem;
    border: rgba(0,0,0,.6)
}

.dropdown {
    display: inline-flex;
    overflow: hidden;
}

.scrollBarDelete::-webkit-scrollbar{
    display: none;
}
.scrollBarDelete{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dropdown .dropbtn {
    font-size: 1rem;
    border: solid rgba(0,0,0,.4);
    color: black;
    padding: .8rem;
    background-color: rgba(0,0,0,.1);
    width: max-content;
    margin-right: .75rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,1);
    width: fit-content;
    z-index: 1;
    border: solid rgba(0,0,0,.8);
}

.dropdown-content a {
    color: black;
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    border-top: solid rgba(0,0,0,.8);
    border-bottom: solid rgba(0,0,0,.8);
    background-color: rgba(220,220,220,.8);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
}

#logo {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    border-style: ridge;
    background-color: bisque;
}

#logo img {
    width: 255px;
    height: 104.8px;
}

#primaryLinks {
    float: left;
    text-align: right;
    height: 100px;
    width: 610px;
    line-height: 100px;
    padding-right: 40px;
    margin: 0;
}

#primaryLinks ul {
    padding-left: 200px;
}

#primaryLinks li {
    padding-left: 0;
    display: inline;
    font-family: sans-serif;
}


#intro {
    clear: both;
    border-top-style: double;
    border-bottom-style: double;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 10px;
}

#intro h1 {
    clear: both;
    font-size: xx-large;
    color: darkblue;
    align-content: center;
    text-align: center;
}


#hero {
    align-content: center;
    border-style: none;
}
#hero img {
    width: 100%;
    height: auto;
}

footer {
    clear: both;
    border-top-style: ridge;
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
}

#buttons img {
    object-fit: contain;
}

.column {
    float: left;
    width: 28.5%;
    border: 15px solid black;
    padding: 8px;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

